{% load static %}

{% include 'nav.html' %}
<div class="container p-4">       

<form method="POST" action="">  
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Sender Name</th>
        <th scope="col">Sender Email</th>
        <th scope="col">IPs</th>
        <th scope="col">Active</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
    {% for i in data %} 
     
      <tr>
        <th scope="row">{{ i.id }}</th>
        <td>{{ i.name }}</td>
        <td>{{ i.email }}</td>
        <td>{{ i.ips }}</td>
        <td>{{ i.active }}</td>
        <td ><input type="checkbox" name="ids" value="{{i.id}}"></td>
        
      </tr>
      
      {% endfor %}
      
    </tbody>
</table>
{% csrf_token %}
<input class="btn btn-primary" type="submit" name="Delete" value="Delete">
</form>
</div>