{% load static %}

{% include 'nav.html' %}
<div class="container p-4">       

<form method="POST" action="">  
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">NickName</th>
        <th scope="col">From Email</th>
        <th scope="col">Reply To</th>
        <th scope="col">Verified</th>
        <th scope="col">Select</th>
      </tr>
    </thead>
    <tbody>
    {% for i in data %} 
     
      <tr>
        <th scope="row">{{ i.id }}</th>
        <td>{{ i.nickname }}</td>
        <td>{{ i.from_email }}</td>
        <td>{{ i.reply_to }}</td>
        <td>{{ i.verified }}</td>
        <td ><input type="checkbox" name="ids" value="{{i.id}}"></td>
        
      </tr>
      
      {% endfor %}
      
    </tbody>
</table>
{% csrf_token %}
<input class="btn btn-primary" type="submit" name="submit">
</form>
</div>