{% load static %}

{% include 'nav.html' %}
<div class="container p-4">       

<form method="POST" action="">  
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">SUBJECT</th>
        <th scope="col">DateTime</th>
      </tr>
    </thead>
    <tbody>
    {% for i in data %} 
     
      <tr>
        <th scope="row">{{ i.id }}</th>
        <td><a href="{% url 'detail-sender' id=i.id %}" class="link-info">{{ i.subject }}</a></td>
        <td>{{ i.dt_stamp }}</td>
        
      </tr>
      
      {% endfor %}
      
    </tbody>
</table>
{% csrf_token %}
</form>
</div>