{% load static %}
{% load widget_tweaks %}
{% include 'nav.html' %}
<div class="container p-4">

<form method="POST" action="" enctype="multipart/form-data">

    <div class="row mb-2">
        <div class="col-md-4 ">
                {{form.sender_email}}
        </div>
        <div class="col-md-4 ">
            {{form.sender_name}}        
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-4 ">
                {{form.reply_to_email}}
        </div>
        <div class="col-md-4 ">
            {{form.reply_to_name}}        
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-8 ">
            {{form.subject}}
        </div>
    </div>
    <div class="row mb-2">
        
        <div class="col-md-8 ">
            {{form.email_list}}
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-8">
            {{form.message|add_class:"ckeditor"}}
            {{ form.media }}
            
            
        </div>
        <div class="col-md-4" >
            <h6>Choose Template</h6>

            <div class="row  p-5">
                <div class="col-md-12 text-center dropdown">
                    
                    <select class="form-select" aria-label="Default select example" id="ss" onchange="getddl()">
                        
                        <option selected value="Link">Select</option>
                        {% for t in temps %}
                            
                            <option  value="{{t.url_slug}}">{{t.template_name}}</option>
                        
                        {% endfor %}
                    </select>
              
                </div>
            </div>

            <div class="row border">
                <div class="col-md-12 text-center">
                    <label id="ll">Link</label>
                    
                </div>
            </div>
            

        </div>
        
    </div>

    <div class="row mb-2">
        
        <div class="col-md-8 mt-4">
            <p>Attachments</p>
            <input type="file" name="select" multiple>
        </div>
    </div>

    {% csrf_token %}
    <div class="row mb-2 p-4">
    <input class="btn btn-primary col-md-4" type="submit" name="submit" >
    </div>
</form>


</div>

<script>
    function getddl(){
        var x = document.getElementById('ss').value
        if(x == "Link"){
            document.getElementById('ll').innerHTML = x
        }
        else{
	        document.getElementById('ll').innerHTML = "&lt;phish&gt;"+"{{b_url}}/render-template/"+x+"&lt;/phish&gt;"
        }
        }
</script>

